#map {
    display: inline-block;
    height: 600px; 
    width: 70%; 
    border: 3px; 
   }
html, body {
    /* height: 10%; */
    margin: 0;
    padding: 2px;
  }

#title {
    text-align: center;
    list-style-position: inside;
    background-color: peachpuff;
}

div#addressButton {
    float: right;
    width: 28%;
}
#create-address-form {
    border: 3px solid #73AD21;
    display: none;
    padding: 4px;
    width: 26%;
    position: absolute;
    top: 33%;
    right: 20px;
}

#add-button{
    background-color: antiquewhite;
}

#cancel-button{
    background-color: antiquewhite;
}

#create-address{
    background-color: antiquewhite;
}

#items-form, #edit-items {
    border: 3px solid #73AD21;
    padding: 4px;
    width: 26%;
    position: absolute;
    top: 33%;
    right: 20px;
    height: 50%
}

#add-items-button, #update-items {
    position: absolute;
    float: right;
    width: 28%; 
    bottom: 0%;
    right:0%

}

#add-another-button, #delete-marker-and-items {
    position: absolute;
    float: right;
    width: 28%; 
    bottom: 0%;
    left: 0%
}

#cancel-items-button, #close-items-window{
    position: absolute;
    float: right;
    width: 28%; 
    bottom: 0%;
    left: 35%;
}

#delete-item {
    right: 0%;
}

#alpha-items{
    border: 3px solid #73AD21;
    display: none;
    padding: 4px;
    width: 26%;
    position: absolute;
    top: 40%;
    right: 20px;
}
