#map {
    display: inline-block;
    height: 600px; 
    width: 70%; 
    border: 3px; 
   }
html, body {
    /* height: 10%; */
    margin: 0;
    padding: 2px;
  }

#title {
    text-align: center;
    background-color: peachpuff;
}

div#addressButton {
    float: right;
    width: 28%;
}
form#create-address-form {
    border: 3px solid #73AD21;
    display: none;
    padding: 2px;
    width: 28%;
    position: absolute;
    top: 33%;
    right: 20px;
}

#add-button{
    background-color: antiquewhite;
}

#cancel-button{
    background-color: antiquewhite;
}

#create-address{
    background-color: antiquewhite;
}
